
    
    <script type="text/javascript">

      // date picker
      $(function() {
          $('.datepicker').datepicker();
         
      });
    </script>
    
     
  </body>
  <!-- <script src="validationLogin.js"></script> -->
</html>