<!-- NAVBAR -->
<nav class="navbar navbar-light justify-content-between shadow-sm" style="height: 64px">
  <div class="left-nav">
    <a class="navbar-brand"><img src="/images/logo.png" alt="logo" style="padding-right: 90px" /></a>
    <a class="navbar-brand"><img src="/images/icon_menu.png" alt="logo" /></a>
  </div>
  <div class="right-nav">
    <form class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="ðŸ” Search" aria-label="Search" aria-describedby="basic-addon2" />
        <div class="input-group-append">
          <button type="button" class="btn btn-outline-primary">Search</button>
          &nbsp; &nbsp;
        </div>
      </div>
      <div class="photo-profile ml-3">
        <a class="bg-photo-profile"><img src="/images/Group 15.png" alt="logo" /></a>
      </div>
      <div class="full-name d-flex align-items-center ml-2" style="height: 100%">
        <div class="content-profil">
          <p style="margin: 0">Unis Badri</p>
        </div>
      </div>
      <i class="fa fa-solid fa-angle-down ml-2"></i>
    </form>
  </div>
</nav>
