<!-- LIGHT SIDEBAR -->
<div class="col-2" style="height: 100vh; background-color: white">
  <div class="sub-text pl-3 font-weight-bold d-flex align-items-center" style="height: 64px; color: #8a8a8a">
    <p style="margin: 0">Cars</p>
  </div>
  <div class="sub-text pl-3 font-weight-bold d-flex align-items-center" style="height: 42px; background-color: #cfd4ed">
    <p style="margin: 0"><%= quicklink %></p>
  </div>
</div>
